<!DOCTYPE HTML>
<html>
<head>
   <meta charset="UTF-8">
   <title>{% block title %}{% endblock %}</title>
   {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
   <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>
    <div class='wrapper' >
      <div class="navigation">
         <div class="row">
            <div class="col-lg-12">
                  {% include 'mysite/common/partials/navigation.html' %}
            </div>
         </div>
      </div>
      <div class="content">
         {% for error in errors %}
            {% include "mysite/common/partials/alert.html" with type="danger" message=error %}
         {% endfor %}
         {% for alert in alerts %}
            {% include "mysite/common/partials/alert.html" with type="success" message=alert %}
         {% endfor %}

         {% block content %}{% endblock %}
      </div><!--content-->
   </div><!--wrapper-->
</body>
</html>
